html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	background-color: #e2e2e2;
	font-family: sans-serif;
}

.button{
	background-color: #555;
	color: white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.75em;
	padding-left: 0.75em;
	border-radius: 4px;
	font-style: none;
}

.img-flex{
	border-image-width: 100%/1.3;
}

